<%= include_gon(namespace: 'simulation', init: true) %>
<%# javascript_include_tag "simulator/manifest.js" %>
<%= javascript_include_tag "stormblood/manifest.js" %>

<div class="container-fluid">
  <div class="row">

    <div class="col-3">
      <h2>Configuration</h2>
      <div class="pb-5">
        <ul class="list-group">
          <li class="list-group-item"><%= link_to "Edit Job Actions", admin_jobs_path %></li>
        </ul>
      </div>

      <h2>Player Options</h2>
      <form class="pb-5">
        <div class="form-group">
          <label>Job</label>
          <select data-bind="options: jobs, optionsText: 'name', value: selectedJob" class="form-control"></select>
        </div>
      </form>

      <h2>Actions</h2>
      <div data-bind="with: selectedJob">

        <ul class="list-group" data-bind="foreach: { data: actions, as: 'action' }">
          <li class="list-group-item justify-content-between">
            <span data-bind="text: action.name"></span>
            <span class="badge badge-default badge-pill">0</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-9">
      <h2>Combat Simulator</h2>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Seq.</th>
            <th>Action</th>
            <th>Time</th>
            <th class="col-4">Effects (after execution)</th>
            <th>Potency</th>
            <th>d(Potency)/dt</th>
            <th>Self-multipliers</th>
            <th>Target Multipliers</th>
            <th>Crit Chance</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row pt-5">
    <div class="col-12">

    </div>
  </div>

  <div class="row">
    <div class="col-12 pt-5">
      <%= link_to "Back", dashboard_index_path, class: 'btn btn-secondary' %>
    </div>
  </div>

</div>
