<%= javascript_include_tag "simulator/manifest.js" %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Rotation Simulator</h2>
      <table class="table">
        <thead class="thead-default">
          <th>Sequence</th>
          <th>Time</th>
          <th>Skill/ Spell</th>
          <th>Ability</th>
          <th>Base Potency</th>
          <th>Self-multipliers</th>
          <th>Target multipliers</th>
          <th>Total potency</th>
          <th></th>
        </thead>
        <tbody data-bind="foreach: timeline.actionsObserved">
          <tr>
            <td data-bind="text: sequence"></td>
            <td data-bind="text: timeSinceEncounter"></td>
            <td data-bind="text: name"></td>
            <td></td>
            <td data-bind="text: potency"></td>
            <td data-bind="text: multiplierText"></td>
            <td>0</td>
            <td data-bind="text: totalPotency"></td>
            <td>
              <a href="#" data-bind="click: $root.removeActionFromQueue"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="col-12">
      <div class="row">
        <h5>Spells</h5>
        <div class="col-12" data-bind="foreach: spells">
          <a href="#" data-bind="click: $root.addSpellToQueue">
            <img src="" alt="" data-bind="attr: { src: imagePath }">
          </a>
        </div>
      </div>

      <div class="row">
        <h5>Abilities</h5>
        <div class="col-12" data-bind="foreach: damageMultiplierAbilities">
          <a href="#" data-bind="click: $root.addDamageMultiplierToQueue">
            <img src="" alt="" data-bind="attr: { src: imagePath }">
          </a>
        </div>
      </div>
    </div>

    <div class="col-12 pt-5">
      <%= link_to "Back", dashboard_index_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
