<%= include_gon(namespace: 'simulation', init: true) %>
<%= javascript_include_tag "simulator/manifest.js" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div id="simulation-chart" style="min-width: 100%; height: 240px; margin 0 auto;"></div>
    </div>
  </div>

  <div class="row">

    <div class="col-3">
      <h2>Player Options</h2>
      <form>
        <div class="form-group">
          <label>Job</label>
          <select data-bind="options: jobs, optionsText: 'name', value: selectedJob" class="form-control"></select>
        </div>

        <div class="form-group">
          <label>Player Name</label>
          <input type="text" class="form-control" data-bind="value: playerName"></input>
        </div>

        <button class="btn btn-outline-primary" data-bind="click: savePlayerScript">Save Script</button>
      </form>

      <h2>Actions</h2>
      <div data-bind="with: selectedJob">
        <div data-bind="foreach: { data: actions, as: 'action' }">
          <a href="" data-bind="click: $root.addActionToRoutine">
            <img data-bind="attr: { src: action.imagePath }" style="width: 40px; height: 40px;">
          </a>
        </div>
      </div>

    </div>

    <div class="col-9">
      <h2>Combat Simulator</h2>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Seq.</th>
            <th>Action</th>
            <th>Time</th>
            <th class="col-4">Effects (after execution)</th>
            <th>Potency</th>
            <th>P/s</th>
            <th>Self-multipliers</th>
            <th>Target Multipliers</th>
            <th>Crit Chance</th>
            <th>Clear</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: { data: routine.slots, as: 'slot' }">
          <tr>
            <td data-bind="text: slot.id"></td>
            <!-- ko with: slot.viewer -->
            <td data-bind="text: name"></td>
            <td data-bind="text: encounterTime"></td>

            <td data-bind="foreach: { data: effects, as: 'action' }">
              <figure class="figure">
                <img src="" data-bind="attr: { src: action.imagePath }">
                <figcaption class="figure-caption text-center">
                  <sub data-bind="text: duration"></sub>
                </figcaption>
              </figure>
            </td>
            <td data-bind="text: effectivePotency"></td>
            <th></th>
            <td data-bind="text: multiplier"></td>
            <td data-bind="text: targetMultiplier"></td>
            <td></td>
            <!-- /ko -->
            <td>
              <a href="#" data-bind="click: $root.removeSlotFromRoutine" class="btn btn-sm btn-outline-danger">Clear<a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row pt-5">
    <div class="col-12">

    </div>
  </div>

  <div class="row">
    <div class="col-12 pt-5">
      <%= link_to "Back", dashboard_index_path, class: 'btn btn-secondary' %>
    </div>
  </div>

</div>
