<div class="container">
  <div class="row pt-5">
    <div class="col-3">
      <h3>Portal</h3>
      <%= render partial: "navigation" %>
    </div>

    <div class="col-9">
      <h3>Recent updates</h3>

      <% @notices.each do |notice| %>
        <%= notice.title %>
      <% end %>
    </div>
  </div>
</div>
