<div class="container">
  <div class="row pt-5">
    <div class="col-3">
      <h3>Portal</h3>
      <%= render partial: "navigation" %>
    </div>

    <div class="col-9">
      <h3>Recent events</h3>

      <% @events.each do |event| %>
        [<%= event.created_at %>] <%= event.user.friendly_name %>
        <% if event.sourceable_type.eql? "Notice" %>
          <% if event.created? %>
            posted a <%= link_to "notice", notice_path(event.sourceable_id) %>.
          <% end %>

        <% end %>

      <% end %>
    </div>
  </div>
</div>
