<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col col-6">

      <h2>Sign In</h2>

      <%= render partial: '/sessions/form' %>

    </div>
  </div>
</div>
