<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col col-6">

      <h2>Register an account</h2>

      <%= form_for @user, class: "form" do |form| %>
        <%= render partial: '/users/form', object: form %>

        <%= form.submit class: 'btn btn-primary' %>
      <% end %>

    </div>
  </div>
</div>
