<div class="container">
  <div class="row">
    <div class="col-md-12">

      <table class="table">
        <thead class="thead-inverse">
            <th>Name</th>
            <th>Actions</th>
        </thead>

        <tbody>
          <% @roles.each do |role| %>
            <tr>
                <td><%= role.name %></td>
                <td>
                  <%= link_to "Edit", edit_role_path(role) %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Create", new_role_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
