<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="pt-5">Manage Roles</h2>
      <table class="table">
        <thead class="thead-default">
            <th>Name</th>
            <th>Actions</th>
        </thead>

        <tbody>
          <% @roles.each do |role| %>
            <tr>
                <td><%= role.name %></td>
                <td>
                  <%= link_to "Edit", edit_role_path(role), class: "btn btn-outline-warning" %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Create", new_role_path, class: "btn btn-outline-primary" %>
      <%= link_to "Back", dashboard_index_path, class: 'btn btn-secondary' %>

    </div>
  </div>
</div>
