<div class="container-stretch">
  <div class="container">
    <div class="container-stretch-body row">

      <div class="jumbotron">
        <h1 class="display-3">Interested in applying?</h1>
        <p class="lead">For those who want to join a static then simply register your details and answer a few questions. We are also looking for people who are willing to lead their own too.</p>
        <hr class="my-4">
        <p class="lead">
          <%= link_to "Sign up an account here", sign_up_path, class: "btn btn-primary btn-lg" %>
        </p>
      </div>

    </div>
  </div>
</div>
