<div class="container-stretch container-alternate">
  <div class="container">
    <div class="container-stretch-body row">
      <h1 class="display-4">
        Supported Games
        <small class="text-muted"></small>
      </h1>

    </div>
  </div>
</div>
