<div class="container-stretch container-alternate">
  <div class="container">
    <div class="container-stretch-body row">
      <div class="col-sm-12">
        <h1 class="display-4">
          Static Roster
        </h1>
      </div>

      <% @statics.each do |static| %>
        <div class="col-sm-4 p-3">
          <div class="card">
            <div class="card-block">
              <h5 class="card-title"><%= static.name %></h5>
            </div>

            <ul class="list-group list-group-flush">
              <% static.characters.each do |character| %>
                <li class="list-group-item justify-content-between">
                  <%= character.name %>
                  <span class="badge badge-default badge-pill"><%= character.role %></span>
                </li>
              <% end %>
            </ul>

            <div class="card-footer">
              <small class="text-muted"><%= "Last updated #{time_ago_in_words(static.updated_at)} ago" %></small>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
