.navbar {
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
}

.container-splash {
  background: rgba(0, 0, 0, 0.70);
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.container-splash:after {
  background-image: image-url('splash_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Make sure the image sits below the content */
  opacity: 0.5;
}

.splash-header {
  color: #F8F8F8;
  padding-top: 120px;
}

.splash-body {
  font-family: 'Lato', sans-serif;
  color: #F8F8F8;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 120px;
}

.splash-logo {
  width: 100%;
  height: 560px;
  fill: #F8F8F8;
}
